body {
	background: #ededed 0 0;
    color: #444;
}
h1, h2, h3, h4, h5, h6 {
    color: #0077bb;
}
a,
a:hover,
a:focus {
    color: #0077bb;
}

#recensio_logo {
    margin-left: 15px;
    width: 320px;
}

#navigation {
    float: none;
    margin-top: 2em;
}
#container,
#navigation ul,
.login_links a,
body.template-homepage-view .box a.one-line,
body.template-homepage-view .box a.two-lines,
#kommentare_container .reply {
    background-color: #FFFFFF;
}
#navigation ul#portal-globalnav {
    padding-left: 0;
}
#navigation li {
  border-right: none !important;
  border-bottom: 2px solid #0077bb;
  padding: 0 15px 0 15px;
  margin: 5px 5px 5px 15px;
}
#navigation a,
#navigation a:link, 
#navigation a:visited {
    color: #444444;
}
#navigation a {
    font-family: myriad-pro, sans-serif;
    font-style: italic;
    text-decoration: none;
    font-size: 1.4em;
}


body.template-homepage-view .box a.one-line h2::before, body.template-homepage-view .box a.two-lines h2::before {
  content: '//';
}

#portal-breadcrumbs {
    margin-left: 15px;
}

#authors-select-all {
    color: #666;
}
body.template-homepage-view .box a.one-line h2::before,
body.template-homepage-view .box a.two-lines h2::before {
    color: #0077bb
}
body.template-homepage-view .portletTALPortlet p,
#footer {
	background: #ededed 0 0;
}
#footer div a img { 
    vertical-align: middle; 
    margin-left: 20px; 
}
#footer #logo_ahn,
#footer #logo_dfg {
    height: 38px;
}
body.template-homepage-view .portletTALPortlet p,
.template-search_form #content fieldset,
.template-search_form #content fieldset .formHelp {
    color: #777;
}
body.template-homepage-view .portletTALPortlet p .redPortletHeader {
    color: #0077bb;
}
#navigation ul#portal-globalnav,
#page_image,
#footer {
    border-radius: 0;
}
.rounded_STYLE > .tr,
.rounded_STYLE > .tl,
.rounded_STYLE > .br,
.rounded_STYLE > .bl {
    background: none;
}
.column_footer span {
    margin-left: 0;
}
p.logos {
    text-align: center;
}
